<!DOCTYPE html>
<html>
  <head>
    <title>GITHUB STATS APP</title>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/e/e4/Font_Awesome_5_regular_chart-bar.svg">
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Baloo+Tamma&display=swap" rel="stylesheet">
    <link href="styles/reset.css" rel="stylesheet"/>
    <link href="styles/base.css" rel="stylesheet"/>
    <link href="styles/layout.css" rel="stylesheet"/>
    <link href="styles/modules.css" rel="stylesheet"/>
    <link href="styles/icons.css" rel="stylesheet"/>
    <link href="styles/theme.css" rel="stylesheet"/>
  </head>