<%- include('../partials/head') %>


<body>
  <%- include('../partials/header') %>
  <main>
    <h2>About Us : The Developers</h2>   
    <article class="devArticle">
      <img class="dev_img" src="../assets/img/Chris.jpg" alt="1" />
      <span class="devs">Christopher Stanley</span>
      <ul class="dev_info">
        <li>Born and raised here in Seattle</li>
        <li>Spent the majority of my adult career as a CDL driver</li>
        <li>Spend my free time exploring the bottom of the Puget Sound</li>
      </ul>
    </article>
    <article class="devArticle">
      <img class="dev_img" src="../assets/img/Ting.png" alt="2" />
      <span class="devs">Ting Luo</span>
      <ul class="dev_info">
        <li>Fullstack Software Developer in Seattle</li>
        <li>I have a background in finance.</li>
        <li>I enjoy reading and listening to music.My favorite food is seafood!</li>
      </ul>
    </article>
    <article class="devArticle">
      <img class="dev_img" src="../assets/img/James.png" alt="3" />
      <span class="devs">ilker Zaimoglu</span>
      <ul class="dev_info">
        <li>Born and raised in Turkey, had lived and worked in Germany, Spain, Italy, UK and CHICAGO.New in SEATTLE.</li>
        <li>I have Mechanical Engineer degree, I am working as Product and Business Developer</li>
        <li>I like cultural tourism, discovering new cities & cultures, deep into music : Professional DJ</li>
      </ul>
    </article>
  </main>
  <%- include('../partials/footer') %>
  </body>

</html>