<%- include('../partials/head') %>

  <body>
  <%- include('../partials/header') %>

  <main>
    <% if (serverError) { %>
      <h3>The Information That You Entered Seems To Have An Error In It</h3>
      <h3>We Were Unable To Collect The Information That You Wanted</h3>
    <% } else { %>
      <h3>You Seem To Have Ventured Off The Beaten Path</h3>
    <% } %>
    <div>
      <button class="formButton">
        <a href="/">Return Home?</a>
      </button>
    </div>
  </main>

  <%- include('../partials/footer') %>
  </body>
</html>