<%- include('../partials/head') %>


<body>
  <%- include('../partials/header') %>
<main>
  <div>
    <h2>WELCOME GITHUBS STATS APP</h2>
    <form action="/orgslist" method="GET">
      <button type="submit">Use Default Information</button>
    </form>
    <button>Enter Session User</button>
    <form action="/orgslist" method="post" class="hide">
      <fieldset>
        <label for="user">
          <span>Please Enter Your Github Username</span>
          <input type="text" name="name" value="" required>
        </label>
      </fieldset>
      <fieldset>
        <label for="user">
          <span>Please Enter Your Github Password</span>
          <input type="text" name="Personal_Key" value="" required>
      </label>
      </fieldset>
      <button id="edit" type="submit">Login</button>
    </form>
    <img id="homeImage" src="https://github.githubassets.com/images/modules/marketplace/marketplace-illustration-01.svg" alt="">
  </div>
</main>  
  <%- include('../partials/footer') %>
</body>
</html>