body {
	background-color: lightblue;
	text-align: center;
	background: rgb(160, 193, 218);
  font-family: 'Audiowide', cursive;
  width : 100%;
}

a {
  text-decoration: none;
  color: white;
}

#atag {
  background-color:rgb(209, 230, 236);
  color: black;
  font-family: 'Audiowide', cursive;
  display: inline-block;
  text-align: center;
  font-size: 0.9vw;
  margin-top: 5px;
}

#atag:hover {
  background-color:rgb(30, 192, 165);
  color:white;
}