
.hide {
  display: none;
}
body {
  font-family: 'Raleway', sans-serif;
  background-image: radial-gradient(circle at center, #899Dc4, #495D84);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at bottom, #1b2735, #090a0f);
  font-weight: 300;
}

header {

  height : 100px;
  text-align: center;
  width : 100%
      
}

article {

  text-align: center;
  margin : 20px;
}

section {

  background-color: lightsalmon;
  border : 1px solid black;
  display: inline-block;
  height: 100%;
  margin: 25px;
  object-fit: scale-down;
  position: relative;
  margin: 20px 9px 20px 9px;
  text-align: center;
  width: 80%;

}

title {

  font-size : 4vw;
  margin-top: 50px;
}



form {

  text-align: center;

}


fieldset {
  background-color: lightblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  font-size: 2em;
  margin : 20px;

}

#homeImage {

  display: initial;
}

p {
  margin : 20px;
  padding: 20px;
}

a {
  text-decoration: none;
  color: white;
}

#pullsChart {
  position: absolute;
  
  width:30vw!important;
  height:60vh!important;
  left: 3vw;
  top : 15vh;

}

#assigned {
  position: absolute;
  width:30vw!important;
  height:60vh!important;
  left: 34vw;
  top : 15vh;

}

#openChart {
  position: absolute;
  width:30vw!important;
  height:60vh!important;
  left: 65vw;
  top : 15vh;
}