.hide {
  display: none;
}

header {
  height : 10vh;
  text-align: center;
  width : 100%  
}

main{
  margin: 80px;
}

article {
  text-align: center;
  margin : 20px;
}

section {
  background-color: rgb(155, 215, 229);
  border : 1px solid black;
  display: inline-block;
  height: 100%;
  margin: 25px;
  object-fit: scale-down;
  position: relative;
  margin: 20px 9px 20px 9px;
  text-align: center;
  width: 80%;
}

div {
  background-color: rgb(155, 215, 229);
  border : 1px solid white;
  box-shadow: 5px 5px 5px rgb(3, 8, 19);
  display: inline-block;
  height: 100%;
  margin: 25px;
  object-fit: scale-down;
  margin: 20px 9px 20px 9px;
  text-align: center;
  width: 50%;
}


#imgOrg {    
  border: rgb(182, 224, 220) 2px solid ;
  box-shadow: 5px 5px 5px rgb(3, 8, 19);
  height: 100px;
  left: 0;
  margin: 5px;
  object-fit: scale-down;
  position: relative;
  top: 0;
  width: 100px;
}
title {
  font-size : 4vw;
  margin-top: 50px;
}

form {
  text-align: center;
}

fieldset {
  background-color: lightblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  font-size: 2em;
  margin : 20px;
}

#homeImage {
  display: initial;
}

#pullsChart {
  position: absolute;
  width:30vw!important;
  height:60vh!important;
  left: 3vw;
  top : 11vh;
}

#assigned {
  position: absolute;
  width:30vw!important;
  height:60vh!important;
  left: 34vw;
  top : 11vh;
}

#openChart {
  position: absolute;
  width:30vw!important;
  height:60vh!important;
  left: 65vw;
  top : 11vh;
}

#comparision {
  position: absolute;
  width:92vw!important;
  height:26vh!important;
  left: 3vw;
  top : 72vh;
}