
body {
  background: lightskyblue;
  font-family: 'Audiowide', cursive;
  width : 100%;
}


article {

  text-align: center;
}

section {

  background-color: lightsalmon;
  border : 1px solid black;
  display: inline-block;
  height: 100%;
  margin: 25px;
  object-fit: scale-down;
  position: relative;
  margin: 20px 9px 20px 9px;
  text-align: center;
  width: 80%;

}
div {
  
  background-color: rgb(241, 143, 143);
  border : 1px solid white;
  box-shadow: 5px 5px 5px rgb(3, 8, 19);
  display: inline-block;
  height: 100%;
  margin: 25px;
  object-fit: scale-down;
  margin: 20px 9px 20px 9px;
  text-align: center;
  width: 50%;
}


#imgOrg {

    
  border: rgb(182, 224, 220) 2px solid ;
  box-shadow: 5px 5px 5px rgb(3, 8, 19);
  height: 100px;
  left: 0;
  margin: 5px;
  object-fit: scale-down;
  position: relative;
  top: 0;
  width: 100px;
}


.formButton {
  border: none;
  box-shadow: 5px 5px 5px rgb(3, 8, 19);
  background: lightblue;
  color: #ffffff !important;
  font-weight: 2vw;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  transition: all 0.3s ease 0s;
}
  
  .formButton:hover {
  color: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  transition: all 1s ease 0s;
  }

form {

  text-align: center;

}


fieldset {
  background-color: rgb(12, 183, 240);
  font-size: 1.5vw;
  margin : 20px;

}

h2 {

  box-shadow: 5px 5px 5px rgb(3, 8, 19);
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  font-size: 2vw;
  margin-top: 20px;
}

button {
  background-color: #6BBE92;
  width: 20vw;
  border: 0;
  padding: 10px 0;
  margin: 5px 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
}


h3 {
  text-align: center;
  font-size: 1.5vw;
  margin: 10px;
}

span {
  font-family: 'Audiowide', cursive;
  font-size: 1.1vw;

}

button {
  font-family: 'Audiowide', cursive;
  font-size: 0.8vw;

}

input {

  background-color: lightseagreen;
  font-family: 'Audiowide', cursive;
  font-size: 1vw;
  margin: 0.255vw;
  text-align: center;
  height: 3vh;
  
}

.devArticle {

  position:relative;
  width:100%;
  height: 20vh;
}

.devs {

  font-size: 1.5vw;
  padding : 10px;

}


.dev_info > li {
  
  font-size : 1vw;
  float: left; 
  padding : 10px;
  width: 100%;
  bottom:0;
}

.dev_img {
  position:absolute;
  display: inline-block;
  top: 0;
  left:50px;
  width: 10vw;
 
}

.charts {

  background-color: white;
  font-size: 5vmax;
}

