
body {
  background: lightskyblue;
  font-family: 'Audiowide', cursive;
  width : 100%;
}

header {

  background-color: black;
  color: white;
  font-size: 3vw;
  box-shadow: 5px 5px 5px rgb(3, 8, 19);
   

}


article {

  text-align: center;
}

section {

  background-color: lightsalmon;
  border : 1px solid black;
  display: inline-block;
  height: 100%;
  margin: 25px;
  object-fit: scale-down;
  position: relative;
  margin: 20px 9px 20px 9px;
  text-align: center;
  width: 80%;

}
div {
  
  background-color: rgb(241, 143, 143);
  border : 1px solid white;
  box-shadow: 5px 5px 5px rgb(3, 8, 19);
  display: inline-block;
  height: 100%;
  margin: 25px;
  object-fit: scale-down;
  /* position: relative; */
  margin: 20px 9px 20px 9px;
  text-align: center;
  width: 50%;
}


#imgOrg {

    
  border: turquoise 2px solid ;
  box-shadow: 5px 5px 5px rgb(3, 8, 19);
  height: 100px;
  left: 0;
  margin: 5px;
  object-fit: scale-down;
  position: relative;
  top: 0;
  width: 100px;
}

/* img:hover {

  background-color: rgb(60, 180, 250);
  border: solid 7px rgb(247, 56, 56) ;
  border-radius: 50px;
  opacity: 1;
  cursor: grab;
  nav-index: auto;
  box-shadow: 5px 5px 5px rgb(86, 136, 230);
  transition-delay: 0.5s;
  transition: 2s all;
} */

.formButton {
  border: none;
  box-shadow: 5px 5px 5px rgb(3, 8, 19);
  background: lightblue;
  color: #ffffff !important;
  font-weight: 2vw;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  /* display: inline-block; */
  transition: all 0.3s ease 0s;
  /* position: absolute; */
  }
  
  .formButton:hover {
  color: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  /* -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57); */
  transition: all 1s ease 0s;
  }

form {

  text-align: center;

}


fieldset {
  background-color: rgb(12, 183, 240);
  font-size: 1.5vw;
  margin : 20px;

}

h2 {

  box-shadow: 5px 5px 5px rgb(3, 8, 19);
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  font-size: 2vw;
  margin-top: 20px;
}

h3 {
  text-align: center;
  font-size: 1.5vw;
  margin: 10px;
}

span {
  font-family: 'Audiowide', cursive;
  font-size: 1.1vw;

}

button {
  font-family: 'Audiowide', cursive;
  font-size: 0.55vw;

}

input {

  background-color: lightseagreen;
  font-family: 'Audiowide', cursive;
  font-size: 1.25vw;
  margin: 0.255vw;
  text-align: center;
  height: 2vw;
  
}