
.formButton {
  border: none;
  box-shadow: 5px 5px 5px rgb(3, 8, 19);
  background: rgb(60, 183, 224);
  color: #ffffff !important;
  font-weight: 2vw;
  padding: 20px;
  margin : 30px;
  text-transform: uppercase;
  border-radius: 6px;
  transition: all 0.3s ease 0s;
}
  
  .formButton:hover {
  color: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: rgb(34, 173, 94);
  transition: all 1s ease 0s;
  }

form {
  text-align: center;
}


fieldset {
  background-color: rgb(209, 230, 236);
  font-size: 1.5vw;
  margin : 20px;
}

h2 {
  box-shadow: 5px 5px 5px rgb(3, 8, 19);
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  font-size: 1vw;
  margin-top: 20px;
}

h3 {
  text-align: center;
  font-size: 1.5vw;
  margin: 10px;
}


h4 {
  font-family: 'Audiowide', cursive;
  display: inline-block;
  text-align: center;
  font-size: 1vw;
  margin-top: 5px;
}

p {
  margin : 20px;
  padding: 20px;
}



#ptag {
  border:none;
  border-style: none;
  box-shadow: none;
  background-color: rgb(209, 230, 236);
    
}

button {
  background-color: rgb(126, 240, 240);
  border-radius: 10px;
  width: 20vw;
  border: 0;
  padding: 20px 0;
  margin: 20px 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-family: 'Audiowide', cursive;
  font-size: 0.8vw;
}



span {
  font-family: 'Audiowide', cursive;
  font-size: 1.1vw;
}

input {
  background-color: rgb(118, 196, 192);
  font-family: 'Audiowide', cursive;
  font-size: 1vw;
  margin: 0.255vw;
  text-align: center;
  height: 3vh;
}

.devArticle {
  position:relative;
  width:100%;
  height: 20vh;
}

.devs {
  font-size: 1.5vw;
  padding : 10px;
}


.dev_info > li {
  font-size : 1vw;
  float: left; 
  padding : 10px;
  width: 100%;
  bottom:0;
}

.dev_img {
  position:absolute;
  display: inline-block;
  top: 0;
  left:50px;
  width: 10vw;
}

.charts {
  background-color: white;
  font-size: 1vmax;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(3, 8, 19);
}

#comparison {
  background-color: transparent;
  font-size: 1vmax;
}
