<div class="exp">
    <% userList.forEach(stat => { %>
    <div class="checkbox">
     <form>
       <div>
         <input type="checkbox" id="check" name="check" value="" />
         <label for="check">
           <span></span><%= stat.name %>
         </label>
       </div>
     </form>
     <% }) %> 
 </div>